.load-more {
  display: flex;
  justify-content: center;

  background-color: rgba(40, 29, 204, 0.582);
  border-radius: 7px;
  border-color: transparent;

  width: 200px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 40px;
  margin-bottom: 40px;

  cursor: pointer;

  cursor: pointer;
  transition: font-weight 250ms linear, color 250ms linear,
    background-color 250ms linear;

  &.is-hidden {
    display: none;
  }
}
